@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter";

:root {
  --font-primary: "Inter", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

.pattern { 
  width: 100%;
  height: 100%;
  --color: rgba(207, 207, 207, 0.05);
  background-color: #080808;
  background-image: 
    repeating-linear-gradient(45deg, var(--color), var(--color) 1px, transparent 2px, transparent 30px),
    repeating-linear-gradient(0deg, var(--color), var(--color) 1px, transparent 5px, transparent 30px);
}